/* GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gugi', sans-serif;
}
body{
    background-color: black;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
/* .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 50;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #33ff00;
    transform: scale(1.05);
} */
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color:#00ff08;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
/* ESTILO DO CABEÇARIO */
header{
    padding: 40PX 4%;
   
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
header a{
    color: rgb(119, 120, 121);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: aliceblue;
    transform: scale(1.05);


}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* Topo do site */
section.topo-site{
    padding: 40px 4%;
}
section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-site .txt-topo-site h1{
    color: aliceblue;
    font-size: 38px;
    line-height: 40px;
}
.topo-site .txt-topo-site h1 span{
    color: #00ff08;
}
.topo-site .txt-topo-site p{
    color: aliceblue;
   margin: 40px 0;
}
.topo-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
h3 {
    font-size: 40px;
    color: aliceblue;
    text-align: center;
}
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slider-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}
.slider .slide{
    width: 200px;
}
.slider .slide img {
    width: 100%;
}
@keyframes scroll {
    0%{
        -webkit-transform: translatex(0);
        transform: transletex(0);
    }
    100%{
        -webkit-transform: translatex(calc(-200px *7));
        transform: transletex(calc(-200px *7));
    }
}
/* ESTILO DO SOBRE */
section.sobre{
    padding: 40px 4%;
}
section.sobre .flex{
    align-items: center;
    
}
.sobre .txt-sobre{
    color: aliceblue;
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
/*PROJETOS*/
section.portifolio{
    padding:  80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 250, 240, 0.314);
}
section.portifolio .flex{  
    justify-content: space-around;
    margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-color: #00ff08;
    background-size: cover;
    background-position: 100% 0%;
    transition: 9s;
    cursor: pointer;
    border-radius: 40px;
    
    
}
.img-port:hover{
    background-position: 100% 100%;
    
    
}
/*FORMS DE AJUDA */
.form-container {
   
    /*width: 100%;*/
    background: linear-gradient(#21212171, #21212162) padding-box,
                linear-gradient(145deg, transparent 35%,#00ff08, #00ff08) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    margin-top: 100px;
    align-items: center;
    
       
  }
 
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #e3e3e3;
    font-weight: 600;
    font-size: 16px;
    
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #ffffff87;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #ffffff87;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #00ff08;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #00ff08;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #3131319b;
    border: 1px solid #41414176;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #00ff08;
    border-color: #00ff08;
  }
  /**RODAPE*/
footer{
    margin-top: 90px;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff58;
}
footer .flex{
    justify-content: space-between;
    align-items: baseline;
}
.borda{
    border-top:2px solid #00ff08;
}
footer .line-footer p i{
    color: #00ff08;
    font-size: 20px;
}
footer .line-footer p a{
    color: #fff;
}
